a {
  text-decoration: none;
  color: inherit;
}

link {
  text-decoration: none;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

button {
  cursor: url(../images/cursor.svg), auto;
}

ul,
ol {
  list-style: none;
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

body {
  color: #fcfcfc;
  font-family: Montserrat, sans-serif;
  background-color: #84a178;
}

.container {
  width: 1200px;
  padding: 0 16px;
  margin: 0 auto;
}

/*********header********************************/
.header {
  /* position: fixed; */
  top: 0;
  z-index: 1;
  width: 100vw;
  background-color: #84a178a6;
  padding-top: 8px;
  outline: 2px solid red;
  overflow: hidden;
}

.header-section {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-logo-svg {
  fill: #F8D24E;
  padding-top: 10px;
}

.header-nav {
  display: flex;
  align-items: center;
}

.nav-list {
  margin-left: 109px;
  display: flex;
  gap: 28px;
}

.nav-link {
  display: block;
  padding-top: 20px;
  padding-bottom: 13px;
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.25;
  color: #FCFCFC;
  cursor: url(../images/cursor.svg), auto;
}

.nav-link:hover {
  color: #F8D24E;
}

.current {
  color: #F8D24E;
}

.header-btn {
  display: flex;
  align-items: center;
  padding: 12px 36px;
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 600;
  line-height: 1.21;
  outline: none;
  background: #F8D24E;
  border: none;
  border-radius: 10px;
}

.header-btn:hover {
  background-color: #0A8817;
}

.header-btn:focus {
  color: #FCFCFC;
  background-color: #0A8817;
}

.header-button-svg {
  margin-left: 4px;
}

.header-button-svg:focus {
  fill: #FCFCFC;
}

.header-btn-2 {
  margin-left: 300px;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

/* .backdrop.is-hidden{
opacity: 0;
visibility: hidden;
pointer-events: none;
}  */

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 768px;
  height: 900px;
  background-color: rgba(132, 161, 120, 1);
}

.modal-close-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: transparent;
  border: 1px solid #555555;
  padding: 0;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  /* border-color: transparent; */
}

.header-logo-svg-modal {
  width: 48px;
  height: 44px;
  fill: #F8D24E;
  top: 20px;
  left: 32px;
}

.modal-close-btn-icon {
  fill: #FCFCFC;
}

.mobil-list {
  margin-top: 140px;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 1.23;
  color: #FCFCFC;
}

/*****************************************hero*********************/
/******Hero-header*****/
.hero-section {
  position: relative;
  background-image: url(../images/hero-desktop.svg);
  background-repeat: no-repeat;
  background-position: bottom;
}

.hero-section-wrapper {
  display: flex;
  justify-content: space-between;
  margin-top: 50px;
}

.hero-header-btn {
  margin-bottom: 42px;
}

.hero-header-title {
  width: 367px;
  margin-top: 45px;
  font-family: 'Seymour One';
  font-style: normal;
  font-weight: 400;
  font-size: 38px;
  line-height: 1.26;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #FCFCFC;
}

.hero-header-count {
  margin-top: 40px;
}

.hero-header-numbers {
  margin-top: 16px;
}

.hero-number {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 900;
  font-size: 46px;
  line-height: 1.21;
  text-align: right;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #131313;
}

.hero-text {
  text-align: right;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.21;
  color: #FCFCFC;
}

.hero-btn-products {
  display: inline-block;
  align-items: center;
  padding: 7px 32px;
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 600;
  line-height: 1.28;
  color: #131313;
  border: 1px solid #F8D24E;
  border-radius: 10px;
  background-color: transparent;
}

.hero-btn-products:hover {
  border: 1px solid #0A8817;
}

.hero-btn-products:focus {
  color: #FCFCFC;
}

.hero-btn-made {
  display: inline-block;
  margin-left: 32px;
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 600;
  line-height: 1.21;
  letter-spacing: 0em;
  text-align: center;
  color: #F8D24E;
  border: none;
  background: transparent;
  text-decoration: underline;
}

.hero-btn-made:hover {
  color: #0A8817;
}

.hero-btn-made:focus {
  color: #FCFCFC;
}

.hero-descreption-box {
  display: inline-block;
  vertical-align: middle;
}

.hero-descreption-text {
  display: inline-block;
  margin-left: 10px;
  margin-bottom: 50px;
  max-width: 220px;
  font-family: Montserrat;
  font-size: 15px;
  font-weight: 400;
  line-height: 1.43;
  letter-spacing: 0em;
  text-align: left;
}

.hero-plate {
  display: inline-block;
  vertical-align: middle;
  margin-bottom: 68px;
}

.hero-plate-text {
  display: inline-block;
  vertical-align: middle;
  padding-bottom: 6px;
}

.hero-svg {
  display: block;
  fill: #FCFCFC;
  margin-left: 16px
}

.hero-icecream {
  position: absolute;
  top: auto;
  bottom: 0;
  right: 92px;
}

/************************************PRODUCTS*******************/
.product {
  padding-top: 58px;
  background-image: url(../images/desktop/background.jpg);
}

.product-label-title {
  margin-bottom: 120px;
}

.product-label {
  display: block;
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 30px;
  line-height: 37px;
  text-align: center;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #131313;
  margin: 0 0 12px;
}

/****li*****/

.product-item-cream {
  position: relative;
  display: inline-block;
  margin-bottom: 60px;
}

.product-item-coffe {
  position: relative;
  display: inline-block;
  margin-bottom: 60px;
}

.product-item-milk {
  position: relative;
  display: inline-block;
  margin-bottom: 60px;
}

/****div*******/
.product-item-cream-img {
  position: absolute;
  margin: 0 auto;
  border-radius: 50%;
  width: 302px;
  height: 318px;
  left: 50%;
  transform: translateX(-50%);

  background: linear-gradient(0deg, rgba(156, 190, 143, 0.7), rgba(156, 190, 143, 0.7)), #D9D9D9;
  box-shadow: 0px 8px 30px rgba(10, 136, 23, 0.25);
  /* background-color: #9CBE8F; */
  /* box-shadow: 0px 16px 0px 0px rgba(180, 198, 169, 1); */
  overflow: hidden;
}

.product-item-coffee-img {
  position: absolute;
  margin: 0 auto;
  border-radius: 50%;
  width: 302px;
  height: 318px;
  left: 50%;
  transform: translateX(-50%);

  background: linear-gradient(0deg, rgba(248, 210, 78, 0.7), rgba(248, 210, 78, 0.7)), #D9D9D9;
  box-shadow: 0px 8px 30px rgba(153, 114, 23, 0.25);
  overflow: hidden;
}

.product-item-milk-img {
  position: absolute;
  margin: 0 auto;
  border-radius: 50%;
  width: 302px;
  height: 318px;
  left: 50%;
  transform: translateX(-50%);

  background: linear-gradient(0deg, rgba(213, 117, 63, 0.7), rgba(213, 117, 63, 0.7)), #D9D9D9;
  box-shadow: 0px 8px 30px rgba(0, 0, 0, 0.25);
  overflow: hidden;
}

/*************/
.product-title {
  font-family: 'Seymour One';
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 1.25;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #131313;
  /* margin-bottom: 85px; */

}

.product-list {
  display: flex;
  justify-content: center;
  justify-content: space-evenly;
  gap: 29px;
  text-align: center;
  margin: 0 auto;
}

/* div  h3+p+svg */
.product-title-text-cream {
  background-color: #84a178;
  border-radius: 24px;
  width: 370px;
  height: 536px;
  margin-top: 150px;
  margin-top: 182px;
}

.product-title-text-coffe {
  background-color: #EFD478;
  border-radius: 24px;
  width: 370px;
  height: 536px;
  margin-top: 150px;
  margin-top: 182px;
}

.product-title-text-milk {
  background-color: #D6936D;
  border-radius: 24px;
  width: 370px;
  height: 536px;
  margin-top: 150px;
  margin-top: 182px;
}

/* **************************** */

.product-title-item {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 37px;
  text-align: center;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #131313;
  margin-bottom: 66px;
  padding-top: 165px;
  /* margin-top: 348px; */
}

.product-text {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 176%;
  text-align: center;
  letter-spacing: 0.04em;
  color: #131313;
  max-width: 242px;
  margin: 0 auto;
  margin-bottom: 50px;
}

.product-title-cream {
  margin-bottom: 80px;
}

.cream-img {
  border-radius: 50%;
  /* margin-top: -16px; */
}

.coffee-img {
  border-radius: 50%;
  /* margin-top: -16px; */
}

.milk-img {
  border-radius: 50%;
  /* margin-top: -16px; */
}

/**************How it"s made********************************************/

.made {
  background-color: #84A178;
}

.made-label-title {
  padding-bottom: 37px;
  margin-bottom: 40px;
  /* outline: 1px solid red; */
}

.made-label {
  display: block;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 800;
  font-size: 30px;
  line-height: 37px;
  text-align: center;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #FCFCFC;
  margin-top: 60px;
  margin-bottom: 15px;
}

.made-title {
  font-family: 'Seymour One';
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 45px;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #FCFCFC;
}

.made-img-text-big {
  display: flex;
  gap: 109px;
  /* outline: 1px solid black; */
  /* height: 490px; */
  margin-bottom: 62px;
}

/* div */
.made-item-cow-img {
  width: 490px;
  height: 530px;
  border-radius: 50%;
  background-color: #F0D579;
  padding-top: 42px;
  overflow: hidden;

}

.advantages-img {
  border-radius: 50%;
}

/* div */
.made-text-btn {
  margin-top: 93px;
}

/* p */
.made-text {

  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 176%;
  letter-spacing: 0.04em;
  color: #FCFCFC;
  /* width: 463px; */

}

.made-text-one {

  margin-bottom: 8px;
  width: 463px;
}



.made-text-two {
  width: 463px;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 194%;
  letter-spacing: 0.04em;
  color: #FCFCFC;
  margin-bottom: 8px;
}

.made-text-three {
  width: 463px;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 194%;
  letter-spacing: 0.04em;
  color: #FCFCFC;
  margin-bottom: 50px;
}

/* div */
.made-list-svg {
  width: 1168px;

  margin: 0 auto;
  /* outline: 1px solid red; */
}

/* ul */
.made-list {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 32px;
  margin-bottom: 10px;
  margin-bottom: 170px;
}


.svg-cow {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  fill: #131313;
  background-color: #F8D24E;
  margin-left: 159px;
}

.made-number {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  font-size: 58px;
  line-height: 71px;
  text-align: center;
  letter-spacing: 0.04em;
  text-transform: lowercase;
  color: #FCFCFC;
  margin-top: 40px;
  margin-bottom: 12px;
}

.made-text-number {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 176%;
  text-align: center;
  letter-spacing: 0.02em;
  color: #FCFCFC;
  /* margin-bottom: 160px; */
}



/****************************moreicecream**************/
/* section */
.moreicecream {
  background-image: url(../images/desktop/background.jpg);
}

.container-moreice {
  position: relative;
  bottom: 93px;
}

/* div  велике зображ*/
.moreice-picture {
  margin: 0 auto;
  width: 1013px;
  height: 422px;
  border-radius: 24px;
  overflow: hidden;
}

/* div 1 фото */
.moreicecream-reviews {
  padding: 140px 0 32px;
}

/*div picture фото  */
.moreicecream-reviews-img {
  margin: 0 auto;
  width: 85px;
  height: 85px;
}

/* div коментар */
.moreicecream-reviews-coment {
  width: 968px;
  margin: 0 auto;
  padding: 40px 110px;
  background-color: #84A178;
  border-radius: 24px;
  text-align: center;
}

/* p коментар */
.moreicecream-text-reviews {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 186%;
  text-align: center;
  letter-spacing: 0.04em;
  color: #FCFCFC;
}

/* p імя,адреса */
.moreicecream-name-reviews {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 186%;
  text-align: center;
  color: #131313;
  margin-top: 32px;
  /* padding-bottom: 228px; */
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  overflow: hidden;
}

.moreicecream-reviews-name {
  margin-bottom: 170px
}

/**********карточки**************/
.contact-title-hidden {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  font-size: 36px;
  line-height: 186%;
  text-align: center;
  color: #131313;
  margin-top: 32px;

}

.reviews-contcts {
  position: relative;
  bottom: 110px;
  display: flex;
  justify-content: center;
  gap: 36px;
  /* padding: 40px; */

}



.contact-title {
  width: 76px;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 140%;
  text-align: center;
  letter-spacing: 0.04em;
  color: #131313;
  background-color: #F8D24E;
  margin-bottom: 32px;
  border-radius: 6px;
}

.contact-title-food {
  width: 148px;
  border-radius: 6px;
}

.reviews-contcts-list {
  background-color: #ffffff;
  width: 368px;
  height: 100%;
  padding: 15px;
  border-radius: 24px;
  box-shadow: 0px 8px 30px rgba(212, 20, 67, 0.1);
  margin-bottom: 32px;
}


.contact-city {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 186%;
  letter-spacing: 0.04em;
  color: #131313;
  margin-bottom: 8px;
}

.contact-street {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 183%;
  letter-spacing: 0.04em;
  color: #D6936D;
  margin-bottom: 34px;
  padding-bottom: 32px;
  border-bottom: 1px solid #E1E1E1;
  /* border-top: none;
  border-left: none;
  border-right: none; */
}


.contact-day {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 186%;
  letter-spacing: 0.04em;
  color: #131313;
}

.contact-time {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 186%;
  color: #ABABAB;
  margin-bottom: 12px;
}

.contact-time-sun {
  padding-bottom: 32px;
  border-bottom: 1px solid #E1E1E1;
  margin-bottom: 34px;
}



.contact-mailto,
.contact-tel {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  color: #131313;
  cursor: url(../images/cursor.svg), auto;
}


/*****button*****/
/* .revievs-button-list {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  margin-top: 60px;
  padding: 15px;
  gap: 16px;
} */

.revievs-button {
  position: absolute;
}

.button-location {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px;
  gap: 16px;
  /* outline: 1px solid red; */
  position: relative;
  right: 50%;
  transform: translate(-50%, 0);
}

.contact-btn {
  /* left: 396px;
  top: 602px; */
  width: 196px;
  height: 42px;
}

.location-btn {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 18px;
  text-align: center;
  padding: 12px;
  border-radius: 10px;
  border: none;
  color: #131313;
  background-color: #F8D24E;
}

.location-btn:hover {
  color: #000000;
  background-color: #0A8817;
}

.location-btn:focus {
  color: #FCFCFC;
  background-color: #0A8817;
}

.franchise-btn {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 18px;
  text-align: center;
  border-radius: 10px;
  /* padding: 12px; */
  border: 4px solid #F8D24E;
  color: #000000;
  background-color: transparent;
}

.franchise-btn:hover {
  border: 4px solid #0A8817;
}

.franchise-btn:focus {
  color: #FFFFFF;
}

.contact-button-svg {
  margin-left: 7px;
}

/* ********************FOOTER************** */


.footer-position {
  display: flex;
  justify-content: space-between;
  margin-top: 120px;
  border-bottom: 1px solid #E1E1E1;
}

.footer-text-box {
  padding-bottom: 60px;
}

.footer-title {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 37px;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #FCFCFC;
}

.footer-text {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  font-size: 58px;
  line-height: 71px;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #FCFCFC;

}

.footer-social-list {
  display: flex;
  gap: 24px;
  margin-bottom: 40px;
}

.footer-social-list {
  justify-content: flex-end;
}

.fotter-social-list-link {
  display: flex;
  justify-content: center;
  align-items: center;
  fill: #84A178;
  background-color: #EFD478;
  border-radius: 50%;
  width: 40px;
  height: 40px;
}

.fotter-social-list-link:hover,
.fotter-social-list-link:focus {
  fill: #FCFCFC;
}


.footer-contact-text {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 186%;
  letter-spacing: 0.02em;
  color: #131313;
}

.footer-tell {
  color: #FCFCFC;
}

.footer-copyright {
  background-color: #84A178;
}

.footer-copyright-text {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.52;
  text-align: center;
  color: #7A7A7A;
  padding-top: 20px;
  padding-bottom: 20px;
}

/* ================================================== */
.container {
  background-color: rgba(16 16 16 /20%);
}

/*******************moreicecream**************/

/* md-устройства (больше или равно 768px) */
@media screen and (max-width: 1200px) {
  .container {
    width: 768px;
  }

  /********* P R O D U C T  card *******************************************/
  .product {
    padding-top: 108px
  }

  .product-label-title {
    margin-bottom: 85px;
  }

  .product-label {
    font-size: 22px;
    line-height: 27px;
  }

  .product-title {
    font-size: 34px;
    line-height: 43px;
  }

  .product-list {
    gap: 16px;
    margin-top: -3px;
  }

  .product-item-img {
    width: 200px;
    height: 210px;
  }

  .product-desc {
    width: 224px;
    height: 80%;
    margin-top: 115px;
  }

  .product-title-item {
    font-size: 22px;
    margin-bottom: 37px;
    padding-top: 107px;
  }

  .product-text {
    font-size: 14px;
    height: 192px;
    margin: 0 26px 32px;
    overflow: hidden;
  }

  .footer-social {
    margin-top: 59px;
  }

  .footer-text-box {
    width: 400px;
  }
}

/*tablet*/
@media screen and (max-width: 768px) {
  .container {
    width: 480px;
    /* width: 100%; */
    /* max-width: 480px; */
    padding-left: 20px;
    padding-right: 20px;
  }

  .product-label-title {
    margin-bottom: 0;
  }

  .product-list>li {
    margin: 60px auto 0;
  }

  .product-list {
    flex-direction: column;
  }

  .product-desc {
    width: 320px;
  }

  .footer-position {
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
    border-bottom: 1px solid #E1E1E1;
  }

  .footer-text-box {
    padding-bottom: 32px;
    /* max-width: 352px;
  margin: auto; */
  }

  .footer-title {
    font-weight: 700;
    font-size: 26px;
    line-height: 32px;
  }

  .footer-text {
    font-weight: 700;
    font-size: 48px;
    line-height: 59px;
  }

  .footer-social-list {
    margin-bottom: 34px;
    justify-content: flex-end;
  }

  .footer-contact-text {
    font-weight: 500;
    font-size: 14px;
    line-height: 150%;
  }

  .footer-tell {
    font-size: 14px;
  }

  .footer-copyright {
    background-color: #84A178;
  }

  .footer-copyright-text {
    font-size: 14px;
    line-height: 186%;
    letter-spacing: 0.02em;
    color: #7A7A7A;
    justify-content: center;
    padding-top: 12px;
    padding-bottom: 12px;
  }
}

/*mobile*/
@media screen and (max-width: 480px) {
  .container {
    width: 320px;
  }

  .product-label-title {
    margin-bottom: 60px;
  }

  .product-label {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    text-transform: uppercase;
    color: #131313;
  }

  .product-title {
    font-size: 30px;
    line-height: 38px;
  }

  .product-list {
    flex-direction: column;
    gap: 60px;
  }

  .product-desc {
    width: 280px;
  }

  .product-item-img {
    width: 200px;
    height: 210px;
  }

  .product-list>li {
    margin: 0 auto 60px auto;
  }


  .footer-position {
    display: inline-block;
    flex-direction: column;
    margin-top: 60px;
    border-bottom: 1px solid #E1E1E1;
  }

  .footer-text-box {
    margin-top: 16px;
    width: 232px;
    text-align: left;
  }

  .footer-title {
    /* max-width: 232px;
    margin: auto; */
    display: inline-block;
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
  }

  .footer-text {
    font-size: 34px;
    line-height: 41px;
    letter-spacing: 0.04em;
  }

  .footer-social {
    margin-top: 60px;
    margin-bottom: 60px;
  }

  .footer-social-list {
    margin-bottom: 20px;
    justify-content: flex-end;
  }

  .footer-contact-text {
    font-weight: 700;
    font-size: 12px;
    line-height: 186%;
    margin: top 40px;

  }

  .footer-tell {
    font-weight: 700;
    font-size: 12px;
  }

  .footer-copyright-text {
    max-width: 165px;
    margin-left: 79px;
    font-weight: 700;
    font-size: 14px;
    line-height: 152%;
  }

  .footer-copyright {
    justify-content: center;
    padding-top: 12px;
    padding-bottom: 12px;
  }

}