a {
  text-decoration: none;
  color: inherit;
}

link {
  text-decoration: none;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

button {
  cursor: pointer;
}

ul,
ol {
  list-style: none;
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

body {
  color: #fcfcfc;
  font-family: Montserrat, sans-serif;
  background-color: #84a178;
}

.container {
  width: 1200px;
  padding: 0 16px;
  margin: 0 auto;
}

/*********header********************************/
.header {
  background-color: #84a178;
  padding-top: 8px;
}

.header-section {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-logo-svg {
  fill: #F8D24E;
}

.header-nav {
  display: flex;
  align-items: center;
}

.nav-list {
  margin-left: 308px;
  display: flex;
  gap: 28px;
}

.nav-link {
  display: block;
  padding-top: 32px;
  padding-bottom: 13px;
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.25;
  color: #FCFCFC;
  cursor: url(../images/cursor.svg), auto;
}

.nav-link:hover {
  color: #F8D24E;
}

.current {
  color: #F8D24E;
}

.header-btn {
  display: flex;
  align-items: center;
  padding: 12px 36px;
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 600;
  line-height: 1.21;
  outline: none;
  background: #F8D24E;
  border: 1px solid #000000;
  border-radius: 10px;
}

.header-btn:hover {
  background-color: #0A8817;
}

.header-btn:focus {
  color: #FCFCFC;
  background-color: #0A8817;
}

.header-button-svg {
  margin-left: 4px;
}

.header-button-svg:focus {
  fill: #FCFCFC;
}

.header-btn-2 {
  margin-left: 300px;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

/* .backdrop.is-hidden{
opacity: 0;
visibility: hidden;
pointer-events: none;
}  */

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 768px;
  height: 900px;
  background-color: rgba(132, 161, 120, 1);
}

.modal-close-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: transparent;
  border: 1px solid #555555;
  padding: 0;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  /* border-color: transparent; */
}

.header-logo-svg-modal {
  width: 48px;
  height: 44px;
  fill: #F8D24E;
  top: 20px;
  left: 32px;
}

.modal-close-btn-icon {
  fill: #FCFCFC;
}

.mobil-list {
  margin-top: 140px;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 1.23;
  color: #FCFCFC;
}

/*****************************************hero*********************/
/******Hero-header*****/
.hero-section-wrapper {
  display: flex;
  justify-content: space-between;
}

.hero-header-btn {
  margin-bottom: 42px;
}

.hero-header-title {
  width: 367px;
  margin-top: 45px;
  font-family: 'Seymour One';
  font-style: normal;
  font-weight: 400;
  font-size: 38px;
  line-height: 1.26;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #FCFCFC;
}

.hero-header-count {
  margin-top: 53px;
}

.hero-header-numbers {
  margin-top: 16px;
}

.hero-number {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 900;
  font-size: 46px;
  line-height: 1.21;
  text-align: right;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #131313;
}

.hero-text {
  text-align: right;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.21;
  color: #FCFCFC;
}

.hero-btn-products {
  display: inline-block;
  align-items: center;
  padding: 12px 34px;
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 600;
  line-height: 1.28;
  color: #131313;
  border: 1px solid #F8D24E;
  border-radius: 10px;
  background-color: transparent;
}

.hero-btn-products:hover {

  border: 1px solid #0A8817;
}

.hero-btn-products:focus {
  color: #FCFCFC;
}

.hero-btn-made {
  display: inline-block;
  margin-left: 12px;
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 600;
  line-height: 1.21;
  letter-spacing: 0em;
  text-align: center;
  color: #F8D24E;
  border: none;
  background: transparent;
  text-decoration: underline;
}

.hero-btn-made:hover {
  color: #0A8817;
}

.hero-btn-made:focus {
  color: #FCFCFC;
}

/* .hero-img-text {
  display: flex;
  justify-content: flex-start
} */
/* *********************Hero-Header*************/
.hero-descreption-text {
  display: inline-block;
  margin: 0 0 24px 16px;
  max-width: 220px;
  font-family: Montserrat;
  font-size: 15px;
  font-weight: 400;
  line-height: 1.43;
  letter-spacing: 0em;
  text-align: left;
}

.hero-plate {
  display: inline-block;
  margin-bottom: 65px;
}

.hero-img-text {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.hero-svg {
  display: block;
  fill: #FCFCFC;
  margin-left: 16px;
}

.hero-icecream {
  position: absolute;
  top: 125px;
  right: 250px;
}

/************************************PRODUCTS*******************/
.product {
  padding-top: 58px;
  background-image: url(../images/desktop/background.jpg);
}

.product-label {
  display: block;
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 30px;
  line-height: 37px;
  text-align: center;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #131313;
  margin: 0 0 12px;
}

.product-item-cream-img {
  position: relative;
  left: 10%;
}

.product-item-coffee-img {
  position: relative;
  left: 10%;
}

.product-item-milk-img {
  position: relative;
  left: 10%;
}

.product-title {
  font-family: 'Seymour One';
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 1.25;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #131313;
  margin-bottom: 120px;
}


.product-list {
  display: flex;
  justify-content: center;
  justify-content: space-evenly;
  gap: 29px;
  text-align: center;
}



.product-title-text-cream {
  background-color: #84a178;
  border-radius: 24px;
  width: 370px;
  margin-top: -200px;
}

.product-title-text-coffe {
  background-color: #EFD478;
  border-radius: 24px;
  width: 370px;
  margin-top: -200px;
}

.product-title-text-milk {
  background-color: #D6936D;
  border-radius: 24px;
  width: 370px;
  margin-top: -200px;


}

.product-title-item {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 37px;
  text-align: center;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #131313;
  margin-bottom: 66px;
  padding-top: 348px;
  margin-top: 348px;
}

.product-text {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 176%;
  text-align: center;
  letter-spacing: 0.04em;
  color: #131313;
  max-width: 242px;
  margin: 0 auto;
  /* margin-left: 61px;
  margin-right: 63px;
  margin-bottom: 50px; */
}

/* border: 30px solid red; */
.cream-img {
  position: absolute;
  margin: 0 auto;
  margin-bottom: 30px;
  border-radius: 150%;
  box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.coffee-img {
  position: absolute;
  margin: 0 auto;
  margin-bottom: 30px;
  border-radius: 150%;
  box-shadow: 0px 8px 30px rgba(153, 114, 23, 0.25);
}

.milk-img {
  position: absolute;
  display: block;
  margin: 0 auto;
  margin-bottom: 30px;
  border-radius: 150px;
  background: linear-gradient(0deg, rgba(213, 117, 63, 0.7), rgba(213, 117, 63, 0.7)), #D9D9D9;
  box-shadow: 0px 8px 30px rgba(0, 0, 0, 0.25);
}

/**************How it"s made********************************************/

.made {
  background-color: #84A178;
}

.made-label {
  display: block;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 800;
  font-size: 30px;
  line-height: 37px;
  text-align: center;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #FCFCFC;
  margin-top: 60px;
  margin-bottom: 19px;
}


.product-title {
  font-family: 'Seymour One';
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 45px;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #FCFCFC;
}

.advantages-img{
border-radius: 1852.2px 
}

.made-text {
  max-width: 463px;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 176%;
  letter-spacing: 0.04em;
  color: #FCFCFC;

}





.made-list {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 32px;
}

.svg-cow {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  fill: #131313;
  background-color: #F8D24E;
}



.made-number {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  font-size: 58px;
  line-height: 71px;
  text-align: center;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #FCFCFC;
  margin-top: 40px;
  margin-bottom: 12px;

}

.maade-text {

  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 176%;
  text-align: center;
  letter-spacing: 0.02em;
  color: #FCFCFC;
}